.calculator {
  &__head {
    padding: 20px 100px 0 50px;
    font-weight: 800;
    font-size: 22px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    padding: 10px 110px 65px 50px;
  }
  &__column {
    display: grid;
    row-gap: 24px;
    flex-direction: column;
    width: 47%;
    label {
      font-size: 12px;
    }
    select {
      border-radius: 5px;
      margin: 4px 0;
      width: 100%;
      padding: 13px 17px;
    }
  }
  &__foot {
    display: flex;
  }
  &__total {
    padding: 24px 100px 24px 50px;
    background-color: $main-blue;
  }
}