doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Калькулятор
  body

    include ./blocks/header-item.pug
    include ./blocks/dropdown.pug
    include ./blocks/square-input.pug
    
    header.header
      .header__wrapper
        .header__row
          img(class="header__logo" src="./assets/logo.svg", alt="logo")
          .header__search.search
            button.search__btn
              img(class="search__btn-img" src="./assets/icons/search-icon.svg", alt="search-icon")
            input(class="search__input" type="text" placeholder="Введите название компании...")
            .search__input-btn
          button.header__button Добавить компанию +
          .header__burger.burger-btn
            .burger-btn__wrapper
              span.burger-btn__icon
      .header__menu
        ul.header-menu
          +header-item("#", "Ремонт квартир")
          +header-item("#", "Дизайн интерьеров")
          +header-item("#", "Карта компаний")
          +header-item("#", "Последние отзывы")
          +header-item("#", "Калькулятор ремонта")

    .main
      .main__wrapper
        .main__text.text
          p.text__paragraph Воспользуйтесь нашим кальулятором, чтобы проссчитать примерную стоимость вашего ремонта. Калькулятор считает среднюю цену на основе прайсов всех предствленных в рейтинге компаний. Не стоит доверять компаниям, которые указывают цену от 1500 за квадратный метр...
        .main__calculator.calculator
          .calculator__wrapper
            p.calculator__head Калькулятор ремонта
            .calculator__body
              .calculator__column

                +dropdown(
                  "premises",
                  "Тип помещения:*",
                  "Новостройка",
                  "Вторичка")
                +dropdown(
                  "electrician",
                  "Электрика:*",
                  "Нет",
                  "Частичная замена и подключение",
                  "Новая от вводного кабеля")
                +dropdown(
                  "repairs",
                  "Тип ремонта:*",
                  "Дизайнерский",
                  "Косметический",
                  "Капитальный")
                +dropdown(
                  "bathroom",
                  "Ремонт санузла:*",
                  "Нет",
                  "Да")
                +dropdown(
                  "floors",
                  "Теплые полы:*",
                  "Нет",
                  "Да")
                +dropdown(
                  "doors",
                  "Двери:*",
                  "Нет",
                  "Да")
              
              .calculator__column

                +square-input(
                  "Площадь ремонта:*",
                  "repair-area",
                  "repair-area-range",
                  "300")

                label(for="calculator__perimeter") Общий периметр стен:*
                  input(class="calculator__perimeter" type="number" name="perimeter")

                +square-input(
                  "Площадь санузла:*",
                  "bathroom-area",
                  "bathroom-area-range",
                  "20")

                +dropdown(
                  "ceilings",
                  "Потолки:*",
                  "Нет",
                  "Гипсокартон",
                  "Натяжной",
                  "2-уровня гиспокартон")
                
                label(for="") Входная дверь*
                  input(type="checkbox", name="")

            .calculator__foot
              .calculator__total.total
                p.total__heading Стоимость вашего ремонта
                p.total__text Итого:
                p.total__sum 140 000 руб.
              p.calculator__subtext *Напоминаем, что это примерная стоимость
        .main__sidebar.sidebar
          .sidebar__head  Лучшие компании по дизайну интерьеров
          .sidebar__content
